<h1>Magical URL Shortening Machine</h1>

<h2>All Shortened URLs</h2>
  <table>
    <tr>
      <th>Long URL</th>
      <th>Short URL</th>
    </tr>
    <% urls.each do |url| %>
    <tr>
      <td><%= url["long_url"] %></td>
      <td><a href="/<%= url["short_url"] %>"/>http://localhost:4567/<%= url["short_url"] %></td>
    </tr>
    <% end %>
  </table>
    
<h2>Submit Your URL!</h2>
<form action="/" method="post">
  <label for="long_url">Your Super Long URL:</label>
  <input type="text" name="long_url">
  <input type="submit" value="Shorten!">
</form>
